In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("neo_v2.csv")

In [3]:
data

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
0,2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
1,2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2,2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3,3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
4,3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True
...,...,...,...,...,...,...,...,...,...,...
90831,3763337,(2016 VX1),0.026580,0.059435,52078.886692,1.230039e+07,Earth,False,25.00,False
90832,3837603,(2019 AD3),0.016771,0.037501,46114.605073,5.432121e+07,Earth,False,26.00,False
90833,54017201,(2020 JP3),0.031956,0.071456,7566.807732,2.840077e+07,Earth,False,24.60,False
90834,54115824,(2021 CN5),0.007321,0.016370,69199.154484,6.869206e+07,Earth,False,27.80,False
90835,54205447,(2021 TW7),0.039862,0.089133,27024.455553,5.977213e+07,Earth,False,24.12,False

In [6]:
X=data.drop(['id','name','est_diameter_max','orbiting_body','sentry_object','hazardous'],axis=1)

In [8]:
print(X)

       est_diameter_min  relative_velocity  miss_distance  absolute_magnitude
0              1.198271       13569.249224   5.483974e+07               16.73
1              0.265800       73588.726663   6.143813e+07               20.00
2              0.722030      114258.692129   4.979872e+07               17.83
3              0.096506       24764.303138   2.543497e+07               22.20
4              0.255009       42737.733765   4.627557e+07               20.09
...                 ...                ...            ...                 ...
90831          0.026580       52078.886692   1.230039e+07               25.00
90832          0.016771       46114.605073   5.432121e+07               26.00
90833          0.031956        7566.807732   2.840077e+07               24.60
90834          0.007321       69199.154484   6.869206e+07               27.80
90835          0.039862       27024.455553   5.977213e+07               24.12

[90836 rows x 4 columns]

In [12]:
y=data.hazardous

In [329]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix

model.score(X_train,y_train)

In [414]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.25)
model2=GradientBoostingClassifier(learning_rate=0.01,subsample=0.8).fit(X_train,y_train)

In [415]:
model2.score(X_train,y_train)

0.9105934504675092

In [416]:
model2.score(X_test,y_test)

0.910299881104408

In [417]:

y_pred=model2.predict(X_test)

In [418]:
y_pred

array([False, False, False, ..., False, False, False])

In [419]:
tn, fp, fn, tp=confusion_matrix(y_test,y_pred).ravel()

In [420]:
print(f"True Positive Rate:{tp/(tp+fp)}, True Negative Rate:{tn/(fn+tn)}")

True Positive Rate:0.9605911330049262, True Negative Rate:0.9098462632186972